@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: Inter, serif;
}

body {
  margin: 0;
}

td {
  font-family: Inter, serif;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right: none;
}

.mat-mdc-form-field .mat-mdc-form-field-infix {
  width: auto;
  min-width: 0;
}
